@font-face {
  font-family: 'Pretendard';
  src: url('~@/assets/fonts/Pretendard-Thin.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'Pretendard';
  src: url('~@/assets/fonts/Pretendard-ExtraLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'Pretendard';
  src: url('~@/assets/fonts/Pretendard-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'Pretendard';
  src: url('~@/assets/fonts/Pretendard-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url('~@/assets/fonts/Pretendard-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url('~@/assets/fonts/Pretendard-SemiBold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url('~@/assets/fonts/Pretendard-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Pretendard';
  src:url('~@/assets/fonts/Pretendard-ExtraBold.otf');
  font-weight: 800;
}
@font-face {
  font-family: 'Pretendard';
  src: url('~@/assets/fonts/Pretendard-Black.otf');
  font-weight: 900;
}
@font-face {
    font-family: 'nanum';
    src: url('~@/assets/fonts/NanumSquareOTF_acR.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'nanum';
    src: url('~@/assets/fonts/NanumSquareOTF_acEB.otf');
    font-weight: 900;
}
@font-face {
    font-family: 'nexon';
    src: url('~@/assets/fonts/NEXON Lv1 Gothic OTF Bold.otf');
    font-weight: 700;
}